.container {
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, #d6849c, #f3efe4);
	height: 100vh;

}

header, main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

}
