.container {
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, #d6849c, #f3efe4);
	height: auto;
	justify-content: center;
	align-items: center;
}

#pp {
	border-radius: 10%;
	height: 50vh;
	width: 50vh;
}

#card_info {
	margin-left: 100px;
}


@media only screen and (max-width: 600px) {


}
