<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/dashboard.css">
		<script src="../static/dynamic/dashboard.js"></script>

		<title>Fraiserry dashboard {{ user.user_name }}</title>
	</head>



		<body class="container">

			<header>
			</div>

			<div class="fraise">
				<img src="../static/images/icon.png" alt="">
				<h1>Fraiseberry Home</h1>
				
			</div>

			<img src="../static/images/mailbox_icon.png" alt="" class="mail">

			<div class="profilepic_icon">
				<div class="popcontainter">
					<img src="../static/images/profilepic_icon.png" alt="" >
					<button id="pp"></button>
					<section id="popover">
						<ul>
							<li><a href="/" id="logout">Logout</a></li>
							<li>logged in as {{ user.user_name }}</li>
						</ul>
					</section>
				</div>
			</div>


			</header>
			<main>
				<div class="icon">
					<img src="../static/images/camera_icon.png">
				</div>
				<div class="icon">
					<img src="../static/images/network_icon.png">
				</div>

			</main>
			<footer>
				<div class="icon" class="user">
					<img src="../static/images/user_icon.png">
				</div>
				<div class="icon" id="prefs">
					<img src="../static/images/notes_icon.png">
				</div>
				<div class="icon">
					<img src="../static/images/messages_icon.png">
				</div>
				<div class="icon">
					<img src="../static/images/heart_icon.png">
				</div>
			</footer>
		</body>


		</html>
