<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/swipe.css">
		<script src="../static/dynamic/swipe.js"></script>

		<title>Get started</title>
	</head>

		<body class="container">
			<header></header>
			<main>
			<ul>
				{% for candidate in result %}
					<li>{{ candidate.first_name }}, {{ candidate.age }}, {{ distance[candidate.user_name] }}km
						<ul>
							<li>{{ candidate.user_name }}</li>
							<li>{{ candidate.bio }}</li>
						</ul>
					</li>
				{% endfor %}
			</ul>

			</main>
			<footer></footer>
		</body>


		</html>
