<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/update-preferences.css">
		<script src="../static/dynamic/update-preferences.js"></script>

		<title>Get started</title>
	</head>



		<body class="container">
			<header>
				<img class="header-item-img" src="../static/images/icon.png" alt="">
				<h1 class="header-item">Your preferences</h1>
			</header>
			<main>
		<p>
			When the pool of potential matches will be filtered by the preferences you choose.
		</p>

		<div class="box">
			<div class="label-box">
				<p>Minimum age</p>
				<p>Maximum age</p>
				<p>Distance </p>
				<p>Intention</p>
				<p>Gender</p>
			</div>
			<div class="input-box">
				<input type="range" min="18" max="100" step="1" name="min_age" id="min_age" value="{{ preferences.min_age }}">
				<input type="range" min="18" max="100" step="1"  name="max_age" id="max_age" value="{{ preferences.min_age }}">
				<input type="range" min="1" max="10000" step="1"  name="distance" id="distance">
				<select class ="input" name="intent" id="intent">
					<option value="Romantic relationship">Romantic relationship</option>
					<option value="Friendship">Friendship</option>
				</select>
				<select class="input" name="gender" id="gender">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Non binary">Non binary</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div class="value-box">
				<p id="age_value">{{ preferences.min_age }}</p>
				<p id="age_value_max">{{ preferences.max_age }}</p>
				<p id="distance_value"> </p>
			</div>
		</div>
		<div>
			<button class="tweet-button" id="save-button">Save</button>
			<br>
			<button class="tweet-button" id="back-button">Back</button>
		</div>

			</main>
			<footer>

			</footer>
		</body>


		</html>
